<h1 class="title">Persoane</h1>
<div class="container">

  <table>
    <tr>
      <th>Checkbox</th>
      <th>isOnline</th>
      <th>Name</th>
      <th>Hobbies</th>
      <th>Total-Likes</th>
    </tr>
    <ng-container>
      <tr *ngFor="let person of persons">
        <td>
          <input type="checkbox">
        </td>
        <td>
          <div *ngIf="person.isOnline===true; else isOffline_circle" class="isOnline-circle">

          </div>
        </td>
        <td>{{person.name}}</td>
        <td *ngIf="person.hobbies; else doesnt_exist_property" class="hobbies-col">
          <div class="hobbies">{{person.hobbies}}</div>
          <i (click)="onUpdateHobbiesModal(person)" class="fa-regular edit-icon fa-pen-to-square"></i>
        </td>
        <td>{{totalLikes()}}</td>
      </tr>
    </ng-container>
  </table>
  <div class="modal">
    <button (click)="openCreatePersonModal()" mat-flat-button>Adauga persoana</button>
  </div>
</div>
<pre>{{persons | json}}</pre>

<ng-template #isOffline_circle>
  <div class="isOffline-circle"></div>
</ng-template>

<ng-template #doesnt_exist_property>
  <div class="doesnt-exist-property">Nu are hobby-uri</div>
</ng-template>
