<form action="" [formGroup]="personModalFormGroup">
  <input type="text" placeholder="name" formControlName="name">
  <input type="text" placeholder="hobby" formControlName="hobby">
<!--  <person-form-modal type="text" placeholder="gender" formControlName="gender">-->
  <div class="buttons">
    <button (click)="onCancelDialog()" mat-raised-button>Anulare</button>
    <button *ngIf="data.onEditMode==false" (click)="onClose()" mat-flat-button>Adauga persoana noua</button>
    <button *ngIf="data.onEditMode==true" (click)="onClose()" mat-flat-button>Editeaza persoana</button>
  </div>
</form>
